{
    "google": {
        "refresh_period": 3600,                                                 
        "credentials_file": "creds.json",                          
        "credentials_dir": "/home/pi/.spinkler",
        "client_secrets": "spinkler_client_secrets.json",                                
        "scopes": ["https://www.googleapis.com/auth/calendar.readonly",
		   "https://www.googleapis.com/auth/gmail.compose"
        ]
    },
    "sprinkler_calendar": "<<put calendar here>>",
    "mail": {
        "to": [ "<<results_recipient_email_address>>" ]
    },
    "zone_count": 8,
    "cal_check_interval": 60,
    "weather_check_interval": 600,
    "pause_time": 2,
    "tick_interval": 0.5,
    "psr": {
        "zone": 1,
        "predelay": 2,
        "postdelay": 2
    },
    "weather": {
        "url": "https://www.aviationweather.gov/adds/dataserver_current/httpparam",
        "args": {
            "dataSource": "metars",
            "requestType": "retrieve",
            "format": "xml",
            "hoursBeforeNow":1,
            "mostRecent":"true",
            "stationString":"KOAK"
        }
    }
}
