[Unit]
Description=SPinkler - RPi irrigation system
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/projects/spinkler/rpi
ExecStart=/usr/local/bin/gunicorn -b 0.0.0.0:5000 --pid=app.pid web_spinkler:spinkler_app --log-level DEBUG
Restart=on-failure
# Other Restart options: or always, on-abort, etc

[Install]
WantedBy=multi-user.target
